.animate-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}   