:host {
  display: inline-block;
}

/* Add these styles to your global styles.css */
.fi {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
