<div  class="relative flex flex-col bg-clip-border rounded-xl bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 shadow-md"
bis_skin_checked="1">
<div class="relative bg-clip-border mt-4 mx-4 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 flex flex-col sm:flex-row items-start sm:items-center justify-between rounded-none overflow-visible"
bis_skin_checked="1">
    <div class="flex flex-col gap-1 w-full" bis_skin_checked="1">
        <p class="block antialiased font-sans text-blue-500 dark:text-blue-300 font-bold text-xs">

          {{ title }}</p>
          <h5 class="block antialiased tracking-normal font-sans text-lg sm:text-xl font-semibold leading-snug text-blue-gray-900 dark:text-white w-full">  {{ subtitle }}</h5>
    </div>
    <!-- Button -->
    <button class="relative mt-4 sm:mt-0 align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs bg-gray-900 dark:bg-gray-700 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none flex-shrink-0 pointer-events-none"
    type="button">
<span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
            <svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                aria-hidden="true" class="h-5 w-5" stroke-width="2">
                <path fill-rule="evenodd"
                    d="M12.963 2.286a.75.75 0 00-1.071-.136 9.742 9.742 0 00-3.539 6.177A7.547 7.547 0 016.648 6.61a.75.75 0 00-1.152-.082A9 9 0 1015.68 4.534a7.46 7.46 0 01-2.717-2.248zM15.75 14.25a3.75 3.75 0 11-7.313-1.172c.628.465 1.35.81 2.133 1a5.99 5.99 0 011.925-3.545 3.75 3.75 0 013.255 3.717z"
                    clip-rule="evenodd"></path>
            </svg></span></button>
</div>
<div class="p-6 grid justify-start !px-3.5 pt-2" bis_skin_checked="1">
    <p
        class="block antialiased font-sans text-base leading-relaxed text-inherit font-normal !text-gray-500">
        {{ description }}</p>
</div>
</div>